<configuration>
    <springProperty name="rollbarAccessToken" source="rollbar.accessToken"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLBAR" class="com.rollbar.logback.RollbarAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <accessToken>${rollbarAccessToken}</accessToken>
    </appender>

    <logger name="com.example.sustral.logback" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLBAR" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLBAR" />
    </root>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
</configuration>
